/* Write your CSS here */
.login-button {
  color: #303150;
  font-size: 16px;
  font-family: 'roboto';
  font-weight: 400;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  border-width: 0px;
}
